<div id="wrapper">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Talos Digital technical assessment</a>
        </div>
        <!-- /.navbar-header -->
        <div class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Form test</a>
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper"  style="top: 80px;">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Weather challenge</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Please choose a city and a metric system
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form name="form" #f="ngForm" (ngSubmit)="getWeather()" >
                                    <div class="form-group">
                                        <label>Select the city</label>
                                        <select class="form-control"
                                        [(ngModel)]="model.city"
                                            name="city">
                                            <option *ngFor="let cit of cities">{{cit}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Select the metric system</label>
                                        <select class="form-control"
                                        [(ngModel)]="model.units"
                                            name="units">
                                            <option>metric</option>
                                            <option>imperial</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-default">Get weather</button>
                                </form>

                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Result
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Field</th>
                                    <th>Result</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>City</td>
                                    <td>{{weatherResult.city}}</td>
                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td>{{weatherResult.sys.country}}</td>
                                </tr>
                                <tr>
                                    <td>Latitude</td>
                                    <td>{{weatherResult.coord.lat}}</td>
                                </tr>
                                <tr>
                                    <td>Longitude</td>
                                    <td>{{weatherResult.coord.lon}}</td>
                                </tr>
                                <tr>
                                    <td>Current weather</td>
                                    <td>{{weatherResult.weather[0].description}}</td>
                                </tr>
                                <tr>
                                    <td>Wind Speed</td>
                                    <td>{{weatherResult.wind.speed}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>