<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Talos Digital</title>

<!-- Core CSS - Include with every page -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="font-awesome/css/font-awesome.css" rel="stylesheet">

<!-- Page-Level Plugin CSS - Forms -->

<!-- SB Admin CSS - Include with every page -->
<link href="css/sb-admin.css" rel="stylesheet">

</head>

<body>

	<div id="wrapper">

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="weather">Talos Digital
					technical assessment</a>
			</div>
			<!-- /.navbar-header -->
			<div class="navbar-default navbar-static-side" role="navigation">
				<div class="sidebar-collapse">
					<ul class="nav" id="side-menu">
						<li><a href="weather"><i class="fa fa-edit fa-fw"></i>Form
								test</a></li>
					</ul>
					<!-- /#side-menu -->
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Weather challenge</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Please choose a city and a metric
							system</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<form action="/weather" method="post" role="form">
										<div class="form-group">
											<label>Select the city</label> 
											<select
												class="form-control" name="city">
												<option th:each="cit : ${cities}"
													th:value="${cit}"
													th:utext="${cit}" />
											</select>
										</div>
										<div class="form-group">
											<label>Select the metric system</label> 
											<select
												class="form-control" name="metric">
												<option>metric</option>
												<option>imperial</option>
											</select>
										</div>
										<button type="submit" class="btn btn-default">Get
											weather</button>
									</form>

								</div>
							</div>
							<!-- /.row (nested) -->
						</div>
						<!-- /.panel-body -->
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">Result</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Field</th>
											<th>Result</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>City</td>
											<td><span th:text="${city}"></span></td>
										</tr>
										<tr>
											<td>Country</td>
											<td><span
												th:text="${wr != null ? wr.getSys().getCountry() : &quot;&quot;}"></span></td>
										</tr>
										<tr>
											<td>Latitude</td>
											<td><span
												th:text="${wr != null ? wr.getCoord().getLat() : &quot;&quot;}"></span></td>
										</tr>
										<tr>
											<td>Longitude</td>
											<td><span
												th:text="${wr != null ? wr.getCoord().getLon(): &quot;&quot;}"></span></td>
										</tr>
										<tr>
											<td>Current weather</td>
											<td><span
												th:text="${wr != null ? wr.getWeather().get(0).getDescription() : &quot;&quot;}"></span></td>
										</tr>
										<tr>
											<td>Wind Speed</td>
											<td><span
												th:text="${wr != null ? wr.getWind().getSpeed() : &quot;&quot;}"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Core Scripts - Include with every page -->
	<script src="js/jquery-1.10.2.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

	<!-- Page-Level Plugin Scripts - Forms -->

	<!-- SB Admin Scripts - Include with every page -->
	<script src="js/sb-admin.js"></script>

	<!-- Page-Level Demo Scripts - Forms - Use for reference -->

</body>

</html>
